#root {
    margin: 0 auto;
    /* padding: 2rem; */
    padding-bottom: 0;
    text-align: center;
    height: 100vh;
}

@supports (height: 100dvh) {
    body {
        min-height: 100dvh;
    }
}

:root {
    --background: oklch(1 0 0);
}

::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
}

::-webkit-scrollbar-thumb {
    background-color: transparent; /* Make thumb transparent */
}

::-webkit-scrollbar-track {
    background-color: transparent; /* Make track transparent */
}

::-webkit-scrollbar-corner {
    background-color: transparent; /* Make corner transparent */
}

/* Firefox */
.scrollable-element {
    scrollbar-color: transparent transparent; /* Make thumb and track transparent */
}

.dark {
    --background: oklch(0.145 0 0);
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@supports (view-transition-name: none) {
    ::view-transition-old(root) {
        animation: 0.15s cubic-bezier(0.4, 0, 1, 1) both fade-out;
    }

    ::view-transition-new(root) {
        animation: 0.15s cubic-bezier(0, 0, 0.2, 1) both fade-in;
    }
}
